fastapi==0.111.0
starlette==0.37.2
uvicorn[standard]==0.30.1
gunicorn==22.0.0
numpy==1.26.4
torch==2.3.1
scikit-learn==1.5.2
plotly==5.22.0
pymongo==4.7.3
motor==3.4.0
pydantic-settings==2.3.3
pyjwt[crypto]==2.8.0
requests==2.32.3
gdown==5.2.0
wget==3.2
pandas==2.2.2
pytz==2024.2
python-slugify==8.0.4